name: "CI"
"on":
  push:
    branches:
      - main
  pull_request:
jobs:
  uv-example:
    name: Python
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Set up Python
        run: uv python install
      - name: Install the project
        run: uv sync --all-extras --dev
      - name: Run tests
        run: uv run pytest
  rust:
    name: Rust
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - run: cargo test --all-features
  cpp:
    name: C++
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: "recursive"
      - name: Configure
        run: cmake -DCMAKE_BUILD_TYPE=Release -B build
      - name: Build
        run: cmake --build build --parallel 4
      - name: Run tests
        run: ctest --output-on-failure
        working-directory: build
